.alert-info, .alert-info a, .bg-info, .bg-info a, .label-info, .label-info a {
    color: #fff !important
}

.small-box {
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.callout, .card, .info-box, .mb-3, .my-3, .small-box {
    margin-bottom: 1rem !important;
}

    .small-box > .inner {
        padding: 10px;
    }

.alert-info, .bg-info, .label-info {
    background-color: #17a2b8 !important;
}

.small-box h3, .small-box p {
    z-index: 5;
}

.small-box h3 {
    font-size: 38px;
    font-weight: 700;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}

.small-box h3, .small-box p {
    z-index: 5;
}

.small-box p {
    font-size: 15px;
}

.small-box .icon {
    transition: all .3s linear;
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 0;
    font-size: 80px;
    color: rgba(0,0,0,.15);
}

.small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255,255,255,.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,.1);
    text-decoration: none;
}

.alert-info, .alert-info a, .bg-info, .bg-info a, .label-info, .label-info a {
    color: #fff !important;
}

.inner p {
    padding-top: 0px;
}

.btn-customer-pink.active, .btn-customer-pink.focus, .btn-customer-pink:active, .btn-customer-pink:focus, .btn-customer-pink:hover, .open > .dropdown-toggle.btn-customer-pink {
    color: #fff;
    background-color: #b325a0;
    border-color: #9b1e8a;
}

.btn-customer-pink {
    color: #fff;
    background-color: #c940b6;
    border-color: #ce27b8;
}


.top-navbar {
    background: linear-gradient(90deg,rgba(255,81,81,1),rgba(255,119,78,1));
}

body {
    background-color: #fff;
    color: #666666;
}

#wrapper {
    background-color: #fff;
}

.top-navbar .navbar-brand {
    background: transparent;
}

.navbar-side {
    background: none;
    top: 60px;
    bottom: 0px;
}

.active-menu {
    background-color: #FAF8F7 !important;
    color: #FF5351 !important;
}

    .active-menu i {
        color: #FF5351 !important;
    }

.sidebar-collapse .nav > li > a {
    color: #666666;
}

.navbar-side .nav > li > a > i {
    color: #666666;
}

.top-navbar .navbar-brand:hover {
    background-color: transparent;
}

a {
    color: #FF734C;
}

    a:hover {
        color: #FF5151;
    }

.sidebar-collapse > .nav > li {
    border-bottom: none;
}

.sidebar-collapse {
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.05);
    height: 100%;
}

.breadcrumb {
    border-radius: 5px;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.panel {
    border-radius: 5px;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.small-box {
    border-radius: 10px;
}

.green {
    background-color: #7CC076;
    color: #fff;
}

.blue {
    background-color: #65C6D4;
    color: #fff;
}

.yellow {
    background-color: #EAC049;
    color: #fff;
}

.light-purple {
    background-color: #94B4E0;
    color: #fff;
}

.purple {
    background-color: #C7B0E6;
    color: #fff;
}

.panel-heading {
    border-bottom: 1px solid #EEEEEE !important;
    margin: 0px 15px;
    padding: 10px 0px;
}

.form-control {
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    box-shadow: none;
}


.btn-default {
    border-color: #2C8ECC;
}

.table-bordered {
    border: 1px solid #EEEEEE;
}

    .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
        border: 1px solid #EEEEEE;
        color: #666666;
        text-align: center;
    }

.table > thead > tr > th {
    background-color: #FAFAFA;
    box-shadow: 0px 1px 0px 0px #EEEEEE;
}

.btn-orange {
    background-color: #FF7B44;
    border-color: #FF7B44;
    color: #fff;
}

    .btn-orange.active, .btn-orange.focus, .btn-orange:active, .btn-orange:focus, .btn-orange:hover, .open > .dropdown-toggle.btn-orange {
        background-color: #FF5151;
        color: #fff;
    }

.btn-primary {
    background-color: #FF7B44;
    border-color: #FF7B44;
    color: #fff;
}

    .btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
        border-color: #FF5151;
        background-color: #FF5151;
        color: #fff;
    }

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #FF5151;
    background-color: #fff;
}

.nav-pills > li > a:hover {
    background-color: #FF5151;
}

.nav-pills {
    display: inline-block;
    /*background: #FF5151;
    border: 1px solid #FF774E;*/
    background: #FF774E;
    border: 1px solid #FF5151;
    border-radius: 5px;
}

.nav > li > a {
    color: #fff;
}

.camera1 {
    color: #8D9498;
    background-color: #F2DEDE;
}

.camera2 {
    color: #8D9498;
    background-color: #D9EDF7;
}

.camera3 {
    color: #8D9498;
    background-color: #DFF0D8;
}

.camera4 {
    color: #8D9498;
    background-color: #F2E9D3;
}

.camera5 {
    color: #8D9498;
    background-color: #D9E3ED;
}

.camera6 {
    color: #8D9498;
    background-color: #CFEDE6;
}

.dropdown-menu > li > a i {
    color: #FF7B44;
}

.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
    color: #FFFFFF !important;
}

.material-half-bg .cover {
    background-image: url(../images/qb_houtai_logo_bac.png);
    background-size: 100%;
}

.btn-login {
    background: linear-gradient(90deg,#FF5151,#FF774E);
    border-radius: 5px;
}

.form-control:focus {
    border: 2px solid #FF774E;
    outline: 0;
}

.navbar-header {
    /*background-image: url(../images/qb_houtai_logo.png);*/
    background-size: contain;
}
